<%- include ('./Templates/header.ejs') %>
<main>
    <h2>Nouvelle Publication</h2>
    <% if(typeof message !== 'undefined') { %>
    <section class="message">
            <p><%= message %></p>
    </section>
    <% } %>
    <form action="/publication/create" method="post">
        <label for="title">Titre </label><input type="text" name="title" id="title" required>
        <label for="content">Contenu </label><textarea name="content" id="content" cols="30" rows="10" required></textarea>
        <button type="submit">Creer</button>
    </form>
</main>
<%- include ('./Templates/footer.ejs') %>