* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5px;
    background-color: #cdcdb5;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul a {
    font-size: 1.2rem;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form input, form textarea {
    margin: 5px 0;
    font-size: 1.2rem;
}

form button {
    padding: 5px;
}

section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}